<h1>Editing Task</h1>

<%= form_for(@subject) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @subject %> |
<%= link_to 'Back', subjects_path %>
