<h1>New Ticket</h1>

<%= form_for(@subject) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="dropdown">
    <%= f.label "Task:" %>
    <%= f.select :task, Task.all.collect { |p|  p  } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', subjects_path %>
