<!DOCTYPE html>
<% if user_signed_in? %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <%= link_to 'Edit Profile', edit_user_registration_path %>
  <%= link_to 'Tasks', tasks_path %>
  <%= link_to 'Home', root_path %>
  <p>Account: <%= current_user.email %></p>

<% else %>
  <%= link_to "Log in", new_user_session_path %>
<% end %>

<html>
  <head>
    <title>Godiny</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>



